<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
</head>
<body>
    <h1>Add New Products</h1>
    <form action="/products" method="POST">
    <label for="name">Name</label>
    
    <input type="text" name="name" id="name">
    <label for="price">Price</label>
    <input type="number" name="price" id="price">
    <label for="category">Category</label>
    <select name="category" id="category">
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
    </select>
    <button>Submit</button>
    </form>
</body>
</html>